@charset "utf-8";
/* CSS Document */

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}

/* ~~ 元素/标签选择器 ~~ */
ul, ol, dl { /* 由于浏览器之间的差异，最佳做法是在列表中将填充和边距都设置为零。为了保持一致，您可以在此处指定需要的数值，也可以在列表所包含的列表项（LI、DT 和 DD）中指定需要的数值。请注意，除非编写一个更为具体的选择器，否则您在此处进行的设置将会层叠到 .nav 列表。 */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* 删除上边距可以解决边距会超出其包含的 div 的问题。剩余的下边距可以使 div 与后面的任何元素保持一定距离。 */
	padding-right: 15px;
	padding-left: 15px; /* 向 div 内的元素侧边（而不是 div 自身）添加填充可避免使用任何方框模型数学。此外，也可将具有侧边填充的嵌套 div 用作替代方法。 */
}
a img { /* 此选择器将删除某些浏览器中显示在图像周围的默认蓝色边框（当该图像包含在链接中时） */
	border: none;
}

/* ~~ 站点链接的样式必须保持此顺序，包括用于创建悬停效果的选择器组在内。 ~~ */
a:link {
	color: #42413C;
	text-decoration: underline; /* 除非将链接设置成极为独特的外观样式，否则最好提供下划线，以便可从视觉上快速识别 */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* 此组选择器将为键盘导航者提供与鼠标使用者相同的悬停体验。 */
	text-decoration: none;
}

/* ~~ 此固定宽度容器包含其它 div ~~ */
.container {
	width: 960px;
	background-color: #FFF;
	margin: 0 auto; /* 侧边的自动值与宽度结合使用，可以将布局居中对齐 */
}

/* ~~ 标题未指定宽度。它将扩展到布局的完整宽度。标题包含一个图像占位符，该占位符应替换为您自己的链接徽标 ~~ */
.header {
	background-color: #ADB96E;
}

/* ~~ 以下是此布局的列。 ~~ 

1) 填充只会放置于 div 的顶部和/或底部。此 div 中的元素侧边会有填充。这样，您可以避免使用任何"方框模型数学"。请注意，如果向 div 自身添加任何侧边填充或边框，这些侧边填充或边框将与您定义的宽度相加，得出 *总计* 宽度。您也可以选择删除 div 中的元素的填充，并在该元素中另外放置一个没有任何宽度但具有设计所需填充的 div。

2) 由于这些列均为浮动列，因此未对其指定边距。如果必须添加边距，请避免在浮动方向一侧放置边距（例如：div 中的右边距设置为向右浮动）。在很多情况下，都可以改用填充。对于必须打破此规则的 div，应向该 div 的规则中添加“display:inline”声明，以控制某些版本的 Internet Explorer 会使边距翻倍的错误。

3) 由于可以在一个文档中多次使用类（并且一个元素可以应用多个类），因此已向这些列分配类名，而不是 ID。例如，必要时可堆叠两个侧栏 div。您可以根据个人偏好将这些名称轻松地改为 ID，前提是仅对每个文档使用一次。

4) 如果您更喜欢在右侧（而不是左侧）进行导航，只需使这些列向相反方向浮动（全部向右，而非全部向左），它们将按相反顺序显示。您无需在 HTML 源文件中移动 div。

*/
.sidebar1 {
	float: left;
	width: 180px;
	background-color: #EADCAE;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;/*调节块内容与块边框的距离*/
	width: 780px;
	float: left;
}

/* ~~ 此分组的选择器为 .content 区域中的列表提供了空间 ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* 此填充反映上述标题和段落规则中的右填充。填充放置于下方可用于间隔列表中其它元素，置于左侧可用于创建缩进。您可以根据需要进行调整。 */
}

/* ~~ 导航列表样式（如果选择使用预先创建的 Spry 等弹出菜单，则可以删除此样式） ~~ */
ul.nav {
	list-style: none; /* 这将删除列表标记 */
	border-top: 1px solid #666; /* 这将为链接创建上边框 – 使用下边框将所有其它项放置在 LI 中 */
	margin-bottom: 15px; /* 这将在下面内容的导航之间创建间距 */
}
ul.nav li {
	border-bottom: 1px solid #666; /* 这将创建按钮间隔 */
}
ul.nav a, ul.nav a:visited { /* 对这些选择器进行分组可确保链接即使在访问之后也能保持其按钮外观 */
	padding: 5px 5px 5px 15px;
	display: block; /* 这将为链接赋予块属性，使其填满包含它的整个 LI。这样，整个区域都可以响应鼠标单击操作。 */
	width: 160px;  /*此宽度使整个按钮在 IE6 中可单击。如果您不需要支持 IE6，可以删除它。请用侧栏容器的宽度减去此链接的填充来计算正确的宽度。 */
	text-decoration: none;
	background-color: #C6D580;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* 这将更改鼠标和键盘导航的背景和文本颜色 */
	background-color: #ADB96E;
	color: #FFF;
}

/* ~~ 脚注 ~~ */
.footer {
	padding: 10px 0;
	background-color: #CCC49F;
	position: relative;/* 这可以使 IE6 hasLayout 以正确方式进行清除 */
	clear: both; /* 此清除属性强制 .container 了解列的结束位置以及包含列的位置 */
}

/* ~~ 其它浮动/清除类 ~~ */
.fltrt {  /* 此类可用于在页面中使元素向右浮动。浮动元素必须位于其在页面上的相邻元素之前。 */
	float: right;
	margin-left: 8px;
}
.fltlft { /* 此类可用于在页面中使元素向左浮动。浮动元素必须位于其在页面上的相邻元素之前。 */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* 如果从 #container 中删除或移出了 #footer，则可以将此类放置在 <br /> 或空 div 中，作为 #container 内最后一个浮动 div 之后的最终元素 */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}


/*新增修改*/
/*头标题*/
.container .header .header-title {
	list-style-type: none;
	background-color: #993;
	float: left;
	width: 100%;
	height: 25px;
}
.container .header .header-title li {
	padding-bottom: 1px;
	padding-top: 1px;
}
.container .header .header-title li a,.container .header .header-title li a:visited {
	text-decoration: none;
	display: block;
	padding-left: 8px;
}
/*头菜单*/
.container .header .header-menu {
	list-style-type: none;
	float: left;
	background-color: #ADB96E;
	width: 100%;
}
.container .header .header-menu li {
	display: inline-block;
	width: 50px;
	float: right;
	margin-top: 5px;
	margin-right: 8px;
	margin-bottom: 5px;
	margin-left: 8px;
}
.container .header .header-menu li a,.container .header .header-menu li a:visited {
	padding: 0px 0px 0px 0px;
	display: block; 
	text-decoration: none;
}
.container .header .header-menu li a:hover, .container .header .header-menu li a:active, .container .header .header-menu li a:focus { 
	color: #FFF;
}
/*导航栏*/
.container .sidebar1 {
	background-color: #F2EBD0;
	padding-bottom: 0px;
}
.container .sidebar1 ul{
	list-style: none;
	text-decoration: none;
}
.container .sidebar1 ul li {
	border-top-width: 3px;
	border-top-style: dotted;
	border-top-color: #999;
}
.container .sidebar1 ul a, .container .sidebar1 ul a:visited {
	padding: 5px 5px 5px 15px;
	display: block;
	width: 160px;
	text-decoration: none;
	background-color: #DDC77B;
	background-repeat: no-repeat;
}
.container .sidebar1 ul a:hover, .container .sidebar1 ul a:active, .container .sidebar1 ul a:focus {
	color: #F60;
	background-repeat: no-repeat;
	background-color: #FFF;
}
.container .sidebar1 ul.hide{
	display: none;/*隐藏二级导航栏*/
}
.container .sidebar1 h3{	
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	background-position: center;
	margin: 0%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.container .sidebar1 h3 a{
	text-decoration: none;
	color: #000;
}
.container .sidebar1 h3 a:hover,.container .sidebar1 h3:hover, .container .sidebar1 h3 a:active, .container .sidebar1 h3:active,.container .sidebar1 h3 a:focus,.container .sidebar1 h3:focus {
	background-color: #FFFFFF;
	color: #F60;
	cursor: pointer;
}
/*尾部*/
.container .footer{
	padding: 0px;
	clear: both;
}
.container .footer ul{
	list-style-type: none;
	background-color: #ADB96E;
	float: left;
	width: 100%;
}
.container .footer ul li {
	padding-bottom: 1px;
	padding-top: 1px;
	width: 50%;
	float: left;
	text-align: center;
	height: 25px;
}

/*以下是后台系统具体各个页面样式表设计*/
/*表格样式*/
table{
	border: 0;
}
table th{
	background: #eee;
}
table td,th{
	padding: 1px;
	border: 1px solid #ccc;
}
/*表单内表格样式表*/
form{
	height: auto;
}
form table .col1{
	width: 80px;
}

form table .col2 input{/* 去除边框 设定小框*/
	width: 60px;
	color: #666;
	border: none;
	text-align: center;
}
form table .col3 input{/*设定小框*/
	width: 60px;
	color: #666;
	text-align: center;
}
form table .col4 input{/*系统显示用户昵称*/
	width: 130px;
	border: none;
	color: #666;
	text-align: center;
}
form table .col4 textarea{/*文本区域*/
	color: #666;
	text-align: center;
}
form table tr .col4 .textarea1 {/*文本区域*/
	width: 360px;
	margin-bottom: 0px;
	border: none;
}
form table tr .col4 .textarea2 {/*文本区域*/
	width: 590px;
	margin-bottom: 0px;
	border: none;
}
form table .col5 input{/*长文本*/
	width: 200px;
	border: none;
	color: #666;
	text-align: center;
}
/*usilverbuy.jsp*/
.container .content .usilverbuy {
	height: auto;
	width: 300px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
/*usilversell.jsp*/
.container .content .usilversell {
	height: auto;
	width: 300px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
/*ugiro.jsp*/
.container .content .ugiro{
	height: auto;
	width: 300px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
/*ugirorecord.jsp*/
.container .content .ugirorecord {
	height: auto;
}
.container .content .ugirorecord  table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .ugirorecord  table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: auto;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*uinvest.jsp*/
.container .content .uinvest{
	height: auto;
	width: 300px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
/*uinvestrecord.jsp*/
.container .content .uinvestrecord {
	height: auto;
}
.container .content .uinvestrecord  table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .uinvestrecord  table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: auto;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*uinquirysilverrecord.jsp*/
.container .content .uinquirysilverrecord {
	height: auto;
}
.container .content .uinquirysilverrecord  table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .uinquirysilverrecord  table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: auto;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*uinquirygame.jsp*/
.container .content .uinquirygame {
	height: auto;
}
.container .content .uinquirygame  table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .uinquirygame  table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: auto;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*uinquiryaccount.jsp*/
.container .content .uinquiryaccount {
	height: auto;
}
.container .content .uinquiryaccount  table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .uinquiryaccount  table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: 100px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*uprofile.jsp*/
.container .content .uprofile {
	height: auto;
}
.container .content .uprofile  table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .uprofile  table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: 100px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*upassquestion.jsp*/
.container .content .upassquestion {
	height: auto;
}
.container .content .upassquestion  table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .upassquestion  table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: 100px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*ubankcard.jsp*/
.container .content .ubankcard {
	height: auto;
}
.container .content .ubankcard table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .ubankcard table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: 100px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*uapprentice.jsp*/
.container .content .uapprentice {
	height: auto;
}
.container .content .uapprentice table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .uapprentice table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: auto;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*umaster.jsp*/
.container .content .umaster {
	height: auto;
}
.container .content .umaster table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .umaster table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: auto;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*webserver.jsp*/
.container .content .webserver {
	height: auto;
}
.container .content .webserver  table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .webserver table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: auto;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
.container .content .webserver table tr th{
	width: 100px;
}
/*webdatabase.jsp*/
.container .content .webdatabase {
	height: auto;
}
.container .content .webdatabase  table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .webdatabase table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: auto;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
.container .content .webdatabase table tr th{
	width: 100px;
}
/*webotherinformation.jsp*/
.container .content .webotherinformation {
	height: auto;
}
.container .content .webotherinformation  table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .webotherinformation table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: auto;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
.container .content .webotherinformation table tr th{
	width: 100px;
}
/*adminuser.jsp*/
.container .content .adminuser {
	height: auto;
}
.container .content .adminuser table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .adminuser table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: auto;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*playeruser.jsp*/
.container .content .playeruser {
	height: auto;
}
.container .content .playeruser table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .playeruser table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: auto;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*assetinvest.jsp*/
.container .content .assetinvest {
	height: auto;
}
.container .content .assetinvest table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .assetinvest table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: auto;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*assetgiro.jsp*/
.container .content .assetgiro {
	height: auto;
}
.container .content .assetgiro  table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .assetgiro  table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: 100px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*assetsilver.jsp*/
.container .content .assetsilver {
	height: auto;
}
.container .content .assetsilver  table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .assetsilver  table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: 100px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*operatesales.jsp*/
.container .content .operatesales {
	height: auto;
}
.container .content .operatesales table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .operatesales table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: auto;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}
/*assetgiro.jsp*/
.container .content .operateoption {
	height: auto;
}
.container .content .operateoption  table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container .content .operateoption  table td {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: 100px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}